[project]
	description = my first project
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Natarajan Chakrapani (natarajanc)
[access "refs/for/refs/*"]
	read = group user/Natarajan Chakrapani (natarajanc)
	push = group user/Natarajan Chakrapani (natarajanc)
	label-Code-Review = -2..+2 group user/Natarajan Chakrapani (natarajanc)
	label-Verified = -1..+1 group user/Natarajan Chakrapani (natarajanc)
	rebase = group user/Natarajan Chakrapani (natarajanc)
	removeReviewer = group user/Natarajan Chakrapani (natarajanc)
	submit = group user/Natarajan Chakrapani (natarajanc)
[access "refs/heads/*"]
	read = group user/Natarajan Chakrapani (natarajanc)
	create = group user/Natarajan Chakrapani (natarajanc)
	push = +force group user/Natarajan Chakrapani (natarajanc)
	pushMerge = group user/Natarajan Chakrapani (natarajanc)
[access "refs/tags/*"]
	push = +force group user/Natarajan Chakrapani (natarajanc)
	pushTag = group user/Natarajan Chakrapani (natarajanc)
	pushSignedTag = group user/Natarajan Chakrapani (natarajanc)
